@{
    ViewBag.Title = "Home Page";
}



<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">

            <img src="~/Content/img/banner_restaurant.jpg" />
            <div class="carousel-caption">

            </div>
        </div>
        <div class="item">

            <img src="~/Content/img/restaurant.jpg" />
            <div class="carousel-caption">

            </div>
        </div>
        <div class="item">


            <img src="~/Content/img/Restaurant banner 01.jpg" />

            <div class="carousel-caption">
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <h2>Trading Hours</h2>
            <p>
                <h4>Tuesday to Friday from 11.30am</h4>
                <h4>for Lunch & Dinner.</h4>
            </p>

            <p>
                <h4>Weekends from 8.30am</h4>
                <h4>for Breakfast, Lunch & Dinner.</h4>
            </p>
            <h3>Closed Monday</h3>
        </div>
        <div class="span10">
            <h1>Taste is everything to us</h1>
            <p>
                So come with your friends & family to Experience the Authentic Chinese dining at New Cathay Restaurant.
                New Cathay has always been committed to providing you with an exceptional dining experience every time
                you walk through our doors. Our team is made up of professional chefs with an experience of more than 20 years.
                Each dish on our menu is prepared to order using the freshest and highest quality ingredients
            </p>
        </div>
    </div>
</div>



